@font-face {
    font-family: "IropkeBatang";
    src:
        url("/fonts/IropkeBatangM.woff") format("woff"),
        url("/fonts/IropkeBatangM.ttf") format("truetype");
    font-display: fallback;
}

:root {
    --background-end: rgb(249, 249, 249);
    --background-start: rgb(224, 224, 224);
    --font-color: rgb(6, 6, 6);
}

body {
    font-family: "IropkeBatang", sans-serif;
    line-height: 1.65rem;
    /* background: linear-gradient(to bottom, transparent, var(--background-end))
        var(--background-start); */
    background: var(--background-end);
    color: var(--font-color);
    /**
        8px: body 기본 margin.
        1.75em: main 상하 margin.
    */
    /* height: calc(100vh - 8px - 1.75em); */

    main {
        margin: 1.75em auto;
        padding: 0 1.75em;
        max-width: 700px;
    }

    a {
        color: var(--font-color);
        text-decoration: none;
        font-weight: 600;
    }
}
