---
import Header from "../components/Header.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
    <main>
        <Header />
        <h1>404 Not Found</h1>
    </main>
</BaseLayout>
