---
import Header from "@src/components/Header.astro";
import BaseLayout from "@src/layouts/BaseLayout.astro";
---

<BaseLayout>
    <main>
        <Header />
        <h1>404 Not Found</h1>
    </main>
</BaseLayout>
