---
import BaseLayout from "@src/layouts/BaseLayout.astro";
import Header from "@src/components/Header.astro";
---

<BaseLayout>
    <main>
        <Header />
        <h1 transition:name="cube">Cube</h1>
        <gl-cube>
            <canvas width="700" height="700">HTML5 Canvas Not Supported.</canvas
            >
        </gl-cube>
    </main>
</BaseLayout>
<script src="../components/cube.ts"></script>
