---
import Header from "@src/components/Header.astro";
import BaseLayout from "@src/layouts/BaseLayout.astro";
---

<BaseLayout>
    <main>
        <Header />
        <h1>작업물</h1>
        <ul>
            <li>
                <h2 transition:name={"ring"}>
                    <a href="/ring">삶에 대한 태도</a>
                </h2>
            </li>
            <li>
                <h2 transition:name={"music"}>
                    <a href="/music">Music</a>
                </h2>
            </li>
            <li>
                <h2 transition:name={"cube"}>
                    <a href="/cube">Cube</a>
                </h2>
            </li>
        </ul>
    </main>
</BaseLayout>
