---
import Header from "../components/Header.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import type { Frontmatter } from "../types/Frontmatter";
const posts = await Astro.glob<Frontmatter>("./posts/*.md");
---

<BaseLayout>
    <main>
        <Header />
        <h2>삶에 대한 태도</h2>
        <ul>
            {
                posts.map((post) => (
                    <li>
                        <h3 transition:name={post.frontmatter.title}>
                            <a href={post.url}>{post.frontmatter.title}</a>
                        </h3>
                    </li>
                ))
            }
        </ul>
    </main>
</BaseLayout>
