---
import Header from "@src/components/Header.astro";
import BaseLayout from "@src/layouts/BaseLayout.astro";
---

<BaseLayout>
    <main>
      <Header />
      <p>푸르름이 스며든 글로 곧 뵙겠습니다.</p>
    </main>
</BaseLayout>
