---
import Header from "@src/components/Header.astro";
import BaseLayout from "@src/layouts/BaseLayout.astro";
---

<BaseLayout>
    <main>
        <Header />
        <h1>기록</h1>
        <ul>
            <li>
                <h2>
                    <a href="https://ashrock-texts.pages.dev/">글</a>
                </h2>
            </li>
            <li>
                <h2>
                    <a href="https://ashrock-photos.pages.dev/">사진</a>
                </h2>
            </li>
        </ul>
    </main>
</BaseLayout>
