---
import Header from "@src/components/Header.astro";
import BaseLayout from "@src/layouts/BaseLayout.astro";
import Keyboard from "@src/components/Keyboard/Keyboard.astro";
---

<BaseLayout>
    <main>
        <Header />
        <div class="fixed bottom-16">
            <Keyboard />
        </div>
    </main>
</BaseLayout>
