---
import Header from "../components/Header.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import Keyboard from "../components/Keyboard/Keyboard.astro";
---

<BaseLayout>
    <main>
        <Header />
        <Keyboard />
    </main>
</BaseLayout>
