---
import Header from "@src/components/Header.astro";
import BaseLayout from "@src/layouts/BaseLayout.astro";
import Keyboard from "@src/components/Keyboard/Keyboard.astro";
---

<BaseLayout>
    <main>
        <Header />
        <div
            class="mx-auto sm:w-3/4 md:w-2/4 fixed inset-0 flex justify-center items-center"
        >
            <Keyboard />
        </div>
    </main>
</BaseLayout>
