---
import "../styles/global.css";
import { ViewTransitions } from "astro:transitions";
const GTM_URL = `https://www.googletagmanager.com/gtag/js?id=${import.meta.env.GOOGLE_ANALYTICS}`;
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>AshRock</title>
        <ViewTransitions />
        <script is:inline async src={GTM_URL}></script>
        <script src="../utils/Gtag.js"></script>
    </head>
    <body>
        <main>
            <slot />
        </main>
    </body>
</html>
