---
import BaseLayout from "./BaseLayout.astro";
const { frontmatter } = Astro.props;
---

<BaseLayout>
    <h3 transition:name={frontmatter.title}>
        <a href={"/"}>{frontmatter.title}</a>
    </h3>
    <slot />
</BaseLayout>
