---
import BaseLayout from "./BaseLayout.astro";
const { frontmatter, url } = Astro.props;
---

<BaseLayout>
    <main>
        <h3 transition:name={frontmatter.title}>
            <a href={"/"}>{frontmatter.title}</a>
        </h3>
        <slot />
    </main>
</BaseLayout>
