---
import BaseLayout from "./BaseLayout.astro";
import Header from "@src/components/Header.astro";
const { frontmatter } = Astro.props;
---

<BaseLayout>
    <main>
        <Header />
        <h1 transition:name={frontmatter.title}>
            <a href={"/ring"}>{frontmatter.title}</a>
        </h1>
        <slot />
    </main>
</BaseLayout>
